.configuration {
    display: flex;
    height: auto;
    flex-direction: row;
    width: 100%;
}

.options {
    width: 28%;
    margin: 1.5% 0.5%;
    border-right: 2px solid #858585;
    border-bottom: 2px solid #858585;
    border-top: 2px solid #858585;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.option {
    padding-left: 15px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #858585;
    box-shadow: 0px 2px 2px #3232323f;
    color: #1c1c1c;
}

.option.active {
    background: #27ae5fd4;
    color: #fff;
}

.option.active:hover {
    background: #27ae5fd4;
    color: #fff;
}

.option:hover {
    background: #b6b6b68a;
    color: #000;
}

.option a {
    display: block;
    width: 100%;
    color: #1c1c1c;
    text-decoration: none;
}

.contenido-opcion {
    width: 68%;
    height: 600px;
    margin: 1.5% 0.5%;
    border-left: 2px solid #858585;
    border-bottom: 2px solid #858585;
    border-top: 2px solid #858585;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 2px 1px 3px #858585;
}

.cambioContrasena {
    padding-top: 1.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cambioContrasena p {
    font-size: 19px;
    width: 96%;
    margin: auto;
}

.cambioContrasena input {
    font-size: 18px;
    padding: 2px 4px 1px 3px;
    width: 35%;
    margin-left: 2%;
    border-radius: 5px;
    border: 1px solid #1d8348;
}

.cambioContrasena>button {
    font-size: 18px;
    font-weight: 600;
    padding: 4px 5px 3px 4px;
    width: 30%;
    margin-left: 5%;
    border-radius: 5px;
    background: #1d8348;
}

.cambioContrasena>button:hover{
    box-shadow: 3px 2px 5px #33be6d;
}

.informacionPersonal {
    width: 100%;
    padding: 2% 3%;
    display: flex;
    flex-direction: column;
}

.informacionPersonal p {
    width: 90%;
    font-size: 18px;
}

.informacionPersonal input {
    width: 60%;
    font-size: 18px;
    padding: 2px 4px 1px 3px;
    border-radius: 5px;
    border: 1px solid #1d8348;
}

.informacionPersonal textarea {
    width: 60%;
    font-size: 18px;
    padding: 2px 4px 1px 3px;
    border-radius: 5px;
    border: 1px solid #1d8348;
}

.informacionPersonal>div {
    width: 60%;
    display: flex;
    padding-left: 20%;
}

.informacionPersonal>div button {
    width: 30%;
    margin-left: 3%;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    background: #1d8348;
}

.informacionPersonal>div button:hover{
    box-shadow: 3px 2px 5px #33be6d;
}

