.imagenFondo {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.imagenFondo>img {
    opacity: 0.9;
    width: 100%;
    margin: auto;
    height: 796px;
}

.recuperacion {
    height: 700px;
    padding-left: 30%;
    padding-top: 2%;
    background: #156436;
}

.dialogo {
    flex-direction: column;
    display: flex;
    align-items: center;
    height: 800px;
    top: 100px;
    width: 100%;
    padding-bottom: 5px;
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
}

.formulario {
    margin-left: 8%;
    padding: 3% 0%;
    background: #ffffffca;
    width: 400px;
    border-radius: 15px;
}

.formularioRegister {
    width: 920px;
    margin-left: 4%;
}

.camposRegister {
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    flex-wrap: wrap;
    width: 920px;
}

.field {
    height: auto;
    width: 360px;
    flex-wrap: wrap;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
}


.field>input {
    font-size: 20px;
    background: transparent;
    padding: 8px 5px 5px 3px;
    width: 318px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #1d8348;
}

.field>div {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
}

.field select {
    font-size: 18px;
    width: 410px;
    background: transparent;
    padding: 8px 5px 5px 3px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #1d8348;
}

.field i {
    background-color: #1d8348;
    color: #fff;
    display: flex;
    justify-content: center;
    width: 30px;
    line-height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.field>button {
    margin-left: 2%;
    margin-bottom: 10px;
    padding: 8px 20px 8px 20px;
    border-radius: 10px;
    width: 93%;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
    background: #27ae5fd4;
}

.field>button:hover {
    background-color: #1d8348;
    cursor: pointer;
    scale: 1.01;
}

.sinGoogle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.field>button img {
    height: 25px;
    margin-left: 8px;
}

.error-message {
    margin: auto;
    color: #656464;
}

.campo {
    width: 450px;
    margin: 5px 0px;
    align-items: flex-start;
}

.campo>input {
    width: 400px;
}

.campo>button {
    margin-left: 4%;
    margin-top: 10px;
    margin-bottom: 2px;
}

.campo>textarea {
    font-size: 20px;
    background: transparent;
    padding: 1px 1px 1px 2px;
    height: 34px;
    width: 407px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #1d8348;
}

.campo>button img {
    height: 30px;
    margin-left: 8px;
}

.contribucion {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: left;
    font-size: 15px;
}

@media screen and (max-width:500px) {

    .imagenFondo {
        height: 800px;
    }

    .imagenFondo>img {
        height: 800px;
    }

    .dialogo {
        top: 158px !important;
        height: 800px;
        align-items: flex-start;
    }

    .formulario {
        width: 99% !important;
        margin: auto;
        padding-left: 0% !important;
    }

    .formularioRegister {
        width: 95%;
        margin-top: 5%;
        height: auto;
    }

    .field>p {
        font-size: 20px;
    }

    .field>input {
        font-size: 15px;
    }

    .field>button {
        font-size: 18px;
    }

    .field>i{
        line-height: 34px;
        font-size: 17px;
    }

    .field>button img {
        height: 20px;
        margin-left: 8px;
    }

    .campo>button {
        color: #FFF;
        font-size: 18px;
    }

    .campo>button img {
        height: 20px;
        margin-left: 8px;
    }

    .campo>input {
        width: 85% !important;
    }

    .campo select {
        width: 88% !important;

    }

    .campo>textarea{
        width: 85% !important;
    }

    .contribucion {
        justify-content: center;
    }

    .recuperacion {
        padding-left: 0%;
        width: 100%;
    }
}

@media screen and (max-width:1050px) {
    .formularioRegister {
        width: 98%;
        margin-top: 5%;
        height: auto;
        margin: auto;
    }

    .camposRegister {
        width: 100%;
    }

    .campo {
        width: 98%;
    }

    .campo>input[type="date"] {
        font-size: 15px;
        padding: 5px 3px 6px;
    }

    .campo>input {
        font-size: 15px;
        width: 90%;
    }

    .campo i {
        font-size: 16px;
        height: 34px;
        line-height: 34px;
    }

    .jump {
        display: none;
    }

    .field>div {
        width: 100%;
    }

    .campo select {
        width: 91%;
        font-size: 15px;
        padding: 5px 2px 6px 2px;
    }

    .campo>textarea {
        width: 90%;
        height: 29px;
        font-size: 15px;
        padding: 2px 3px 0px 2px;
    }
}