.profile {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column
}

.aboutme {
    background-color: #1d8348;
    height: 280px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: last baseline;
    margin-bottom: 30px;
}

.aboutme>div {
    padding-left: 10px;
    padding-bottom: 5px;
    width: 60%;
    justify-content: left;
    display: flex;
    align-items: center;
    position: absolute;
    transform: translateY(+10%);
}

.aboutme>div img {
    background-color: #000000;
    height: 200px;
    width: 200px;
    border: 2px solid #525151ca;
    border-radius: 50%;
}

.aboutme>div p {
    margin-left: 8px;
    text-align: end;
    font-size: 32px;
    font-weight: 600;
    color: #fff;
}

.mycontent{
    display: flex;
    flex-direction: column;
}

.skills{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;  
}

.cloud{
    width: 46%;
    margin: 1%;
    height: 250px;
    border-radius: 10px;
    padding: 10px;
    border-style: dashed;
}

.cloud>p{
    color: #2ecc71;
    font-size: 25px;
}

.cloud>div{
    width: 98%;
    margin: auto;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cloud>div p{
    color: #585858;
    font-size: 20px;    
}

.myPost{
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
}

.myPost>div{   
    width: 100%;
    padding: 1% 0%;
    border-radius: 5px;
    border-top: 2px solid#1d8348;
    border-bottom: 2px solid #1d8348;
    overflow-y: auto;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

.myPost>h2{
    display: block;
    width: 100%;
    margin: 2% 1%;
    color: #1d8348;
    font-size: 35px;
    font-weight: 500;
}

.report-menu2 {
    position: fixed;
    top: 30%;
    left: 65%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 0;
    list-style: none;
    width: 300px;
}