/*Post*/

.post {
    display: flex;
    flex-direction: column;
    width: 48%;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 8px 5px;
    margin: 0.6% 0.5%;
    height: 310px;
}

.post-top{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.userInfo {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userInfo>p {
    font-size: 15px;
    overflow-y: hidden;
}

.userInfo a {
    text-decoration: none;
    color: #000;
}

.userInfo a:hover {
    text-decoration: underline;
}

.publicacion {
    padding: 1%;
    display: flex;
    flex-direction: row;
    height: 300px;
}

.publicacion>img {
    width: 300px;
    height: 240px;
    border: 1px solid#000;
}

.contenido {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.descripcion {
    width: 100%;
    height: auto;
}

.reseña {
    margin: auto 15px;
    width: 99%;
    height: auto;
}

.reseña>p {
    margin-bottom: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px #4d4d4de5;
    border-style: dashed;
}

.reseña>div {
    margin-bottom: 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px #4d4d4de5;
    border-style: dashed;
}

.reaccion {
    padding: 1% 3%;
}

.reaccion>p {
    line-height: 20px;
}

.reaccion span {
    font-size: 18px;
}

.reaccion i {
    font-size: 15px;
    display: inline-block;
    margin: 0px 8px;
}

/* Video*/

.publicacionVideo {
    padding: 1%;
    display: flex;
    flex-direction: column;
    height: auto;
}

.publicacionVideo>video {
    margin: auto;
    width: 450px;
    height: 210px;
    border-radius: 8px;
    border: 1px solid #000;
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px #1d8348a2;
}

/* Estilos para el contenedor del menú de reporte */
.report-dropdown {
    position: relative;
    display: inline-block;
    width: 5%; 
    text-align: center;
    overflow-y: hidden;
}

.report-button:hover{
    background: #bcbcbc33;
}

/* Estilos para el botón de reporte */
.report-button {
    padding: 2px 5px;
    cursor: pointer;
    background:unset;
    color: #000;
    font-size: 14px;
    height: auto;
}

/* Estilos para el menú desplegable de reporte */
.report-menu {
    position: fixed;
    top: 40%;
    left: 45%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 0;
    list-style: none;
    width: 250px;
}

/* Estilos para los elementos del menú */
.report-item {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    align-items: center;
}

.report-item i{
    margin-right: 5px;
}

.report-item:last-child {
    border-bottom: none;
}

/* Efecto hover para los elementos del menú */
.report-item:hover {
    background-color: #f1f1f1;
}