* {
  padding: 0%;
  margin: 0%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  scrollbar-width: thin;
  scrollbar-color: green white;
}

.App {
  overflow-y: auto;
}

header {
  width: 100%;
  height: 95px;
  border-bottom: 1px solid transparent;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0.2);
  margin-bottom: 5px;
  padding-top: 10px;
  overflow-y: hidden;
}

.container {
  width: 90%;
  margin: auto;
}

.Father {
  overflow: hidden;
}

.navBar {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navBar a {
  color: #000;
  text-decoration: none;
}

.logo {
  width: 55%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo>a>img {
  height: 90px;
}

.logo>a>img:hover {
  scale: 0.95;
}

.logo>p {
  color: #1d8348;
  font-size: 35px;
  font-weight: 550;
  margin-left: 8px;
}

.logo>p:hover {
  scale: 1.05;
  text-decoration: underline;
}

.container2 {
  display: flex;
  flex-direction: row;
  width: 40%;
}

.enlaces {
  width: 90%;
  display: flex;
  justify-content: center;
}

.enlaces>ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.enlaces>ul li {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #1d8348;
  margin: 5px 15px;
  padding: 10px 14px 5px 14px;
  font-size: 20px;
  font-weight: 500;
  width: 40%;
}

.enlaces>ul li i {
  font-size: 30px;
  overflow: hidden;
}

.hamburguesa {
  display: none;
  width: 15%;
  height: 90px;
  text-align: center;
  z-index: 100;
  cursor: pointer;
}

.hamburguesa>i {
  font-size: 25px;
  line-height: 80px;
}

.singin {
  background-color: #27ae60;
}

.singin:hover {
  scale: 1.1;
}

.singin>a {
  color: #fff;
}

.singup:hover {
  background-color: #27ae60;
}

.singup:hover>a {
  color: #fff;
}

.continue {
  width: 45%;
}

.continue:hover {
  background-color: #27ae60;
}

.continue:hover>a {
  color: #fff;
}

/*Dash Nav*/
.search {
  flex-basis: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.search>input {
  width: 80%;
  padding: 3px 2px 2px 2px;
  border-radius: 3px;
  margin-right: 2px;
  font-size: 16px;
}

.search>i {
  font-size: 25px;
  color: #1d8348;
}

.search>i:hover {
  cursor: pointer;
  scale: 1.01;
  background-color: #2a292988;
  border-radius: 5px;
}

.usuario {
  flex-basis: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.usuario>i {
  font-size: 50px;
  line-height: 95px;
  color: #1d8348;
}

.usuario>p {
  font-size: 30px;
  font-weight: 550;
  margin-left: 5px;
}

.usuario>p:hover {
  scale: 1.05;
  text-decoration: underline;
}

.enlaces-dash {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
}

.enlaces-dash>ul {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.enlaces-dash>ul li {
  display: flex;
  align-items: center;
  margin: 5px 10px;
  padding: 12px 14px 6px 14px;
  font-weight: 300;
  width: 140px;
}

.enlaces-dash>ul li div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.enlaces-dash>ul li i {
  font-size: 22px;
  overflow: hidden;
  width: 30px;
  color: #1d8348;
}

.enlaces-dash>ul li button {
  margin: 5px 10px;
  padding: 12px 14px 6px 14px;
  font-weight: 300;
  width: 140px;
}

.enlaces-dash>ul li label {
  margin-left: 1px;
  font-size: 15px;
}

.enlaces-dash>ul li label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.notificacionesHide {
  background-color: #000;
  clip-path: inset(7% 6% 15% 94%);
}

.Show {
  clip-path: inset(7% 6% 15% 60%);
}

@media screen and (max-width:500px) {

  header {
    height: 145px !important;
    padding-top: 10px !important;
  }

  .navBar {
    flex-direction: column !important; 
  }

  .container2 {
    width: 100%;
    display: flex;
  }

  .Father{
    height: auto;
  }

  .container{
    height: auto;
  }
}

@media screen and (max-width:1050px) {
  .container{
    width: 99%;
  }

  header {
    height: 95px;
    padding-top: 10px;
  }

  .navBar {
    flex-direction: row;
  }

  .container2 {
    width: 100%;
    display: flex;
  }

  .logo {
    width: 100%;
    justify-content: center;
  }

  .logo img {
    width: 95%;
  }

  .enlaces {
    width: 100%;
    justify-content: left;
  }

  .enlaces>ul li {
    margin: 3px 6px;
    padding: 4px 5px 2px 8px;
    font-size: 14px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    height: 36px;
    overflow-y: hidden;
  }

  .hamburguesa {
    flex-basis: 20%;
    height: 50px;
  }

  .hamburguesa>i {
    font-size: 20px;
    line-height: 40px;
  }

  .usuario {
    width: 100%;
    justify-content: center;
  }

  .usuario>i {
    font-size: 50px;
    line-height: 95px;
    color: #1d8348;
  }

  .usuario>p {
    font-size: 25px;
  }

  .usuario>i {
    font-size: 30px;
    line-height: 50px;
  }

  .enlaces-dash {
    width: 100%;
  }
  
  .enlaces-dash>ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 4px;
    padding: 6px 7px 3px 7px;
    font-weight: 200;
    width: 140px;
  }
  
  .enlaces-dash>ul li i {
    font-size: 25px;
  }

  .enlaces-dash>ul li p {
    display: none;
  }
  
  .enlaces-dash>ul li button {
    margin: 5px 10px;
    padding: 12px 14px 6px 14px;
    font-weight: 300;
    width: 140px;
  }

}